<table border=5px, width=700>
<th>Products_name</th> <th>date</th><th>customer_id</th>
      <tr>
     <%@order.each do |order|%>
 <p>
<td><%=order.products_name%></td>
<td><%=order.date%></td>
<td><%=order.customer_id%></td>
 </p>

 <td><%=link_to 'Show', order_path(order)%></td>
<td><%=link_to 'Edit', edit_order_path(order)%></td>
 <td><%=link_to 'Delete', order_path(order), :method=> :delete%></td>


</tr>

 <%end%>
</table>

<%=link_to 'New Order', new_order_path%>

